@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
}

body {
  background: rgb(163, 208, 219);
  background-image: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgb(219, 163, 179) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(169, 163, 219, 1) 74%,
    rgba(163, 219, 200, 1) 100%
  );
  background-size: 400%;
  animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: left}
  100% {background-position: right}
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.draggable.dragging {
  opacity: 0.5;
}

.draggable.no-select {
  user-select: none;
}

.checkmark-circle>svg:hover {
  fill: black;
}

.checkmark-circle:hover {
  opacity: 1;
}
